@import 'normalize';

html {
	font-family: Lato;
	color: #222;
	font-size: 14px;
	line-height: 1.4;
}

.btn {
	display: inline;
	padding: 6px 10px;
	border-radius: 4px;
	border: solid 1px #768202;
	width: auto;
	text-decoration: none;
	transition: background-color .2s ease-in-out;
						}

.btn-small {
	padding: 2px 4px;
}

.btn-light {
	color: #768202;
	background-color: transparent;
}

.btn-light:hover {
	background-color: #f3f3f3;
}

.btn-default {
	color: white;
	background-color: #768202;
}

.btn-default:hover {
	background-color: #98A803;
}

.nav-tabbed {
	margin-top: 30px;
}

.nav-tabbed .btn {
	margin-right: 2px;
	color: white;
	display: inline-block;
	background-color: #768202;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}



.nav-tabbed .btn:hover {
	background-color: #98A803;
}

.nav-tabbed .btn.active:hover, .nav-tabbed .btn.active {
	background-color: white;
	color: #768202;
}
